.menu-element {
    display: inline-block;

    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    /*background-color: aliceblue;*/
}

.menu-element {
    text-decoration: none;
    color: white;
}

.menu-element:hover {
    color: green;
}